In [46]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

In [47]:
producer = KafkaProducer(bootstrap_servers=['3.26.188.3:9092'],
                         value_serializer=lambda x: 
                         dumps(x).encode('utf-8'))

In [48]:
producer.send('demo_test', value={'kamran is ':'here'})

In [49]:
df = pd.read_csv("top1kstocks.csv")

In [50]:
df.head()

  Name\tCMP\tP/E\tMarket Cap\tDiv Yield %\tNP Qtr\tQtr Profit %\tSales Qtr\tQtr Sales %\tROCE %\tPAT Ann
0  Reliance Industries\t2961.4\t28.75\t2003965.01...
1  TCS\t3814.75\t29.73\t1380210.04\t1.45\t12502\t...
2  HDFC Bank\t1608.75\t19.07\t1223559.58\t1.22\t1...
3  Bharti Airtel\t1428.7\t71.63\t853241.05\t0.27\...
4  ICICI Bank\t1123.05\t17.89\t789893.47\t0.72\t1...

In [ ]:
while True:
    dict_stock = df.sample(1).to_dict(orient="records")[0]
    producer.send('demo_test', value=dict_stock)
    sleep(1)

In [37]:
producer.flush()